@font-face {
	font-family: 'Google Sans Flex';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/google-sans-flex-v19-latin-regular.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Google Sans Flex';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/google-sans-flex-v19-latin-500.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Google Sans Flex';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/google-sans-flex-v19-latin-600.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Zalando Sans SemiExpanded';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/zalando-sans-semiexpanded-v3-latin-500.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Zalando Sans SemiExpanded';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/zalando-sans-semiexpanded-v3-latin-600.woff2')
		format('woff2');
}

@font-face {
	font-family: 'Zalando Sans SemiExpanded';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/zalando-sans-semiexpanded-v3-latin-700.woff2')
		format('woff2');
}

body {
	font-family: 'Google Sans Flex', sans-serif;
}
