@media (max-width: 1024px) {
	.header {
		&__container-wide {
			padding-inline: 16px;
		}
		.menu {
			position: relative;
			z-index: 10;
			order: 3;
			padding: 0;

			&__item.active {
				.menu__link {
					opacity: 1;
					border-radius: none;
					background: transparent;
				}
			}

			&__button {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 52px;
				height: 40px;
				border-radius: 9999px;
				background: rgba(236, 238, 241, 0.8);
				backdrop-filter: blur(16px);
				cursor: pointer;

				&::before,
				&::after,
				span {
					content: '';
					position: absolute;
					width: 4px;
					height: 4px;
					background-color: var(--gray-800);
					border-radius: 9999px;
					transition: all 0.3s ease;
				}

				&::before {
					transform: translateX(-8px);
				}

				span {
					transform: translateX(0);
				}

				&::after {
					transform: translateX(8px);
				}

				.menu-open & {
					&::before {
						width: 15px;
						height: 2px;
						transform: rotate(45deg);
					}

					span {
						opacity: 0;
					}

					&::after {
						width: 15px;
						height: 2px;
						transform: rotate(-45deg);
					}
				}
			}

			&__list {
				position: absolute;
				top: 100%;
				right: 0;
				margin-top: 8px;

				display: flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 16px;

				padding: 16px 0;
				border-radius: 16px;
				background: #fff;
				backdrop-filter: blur(16px);
				border: 1px solid var(--gray-100, #d9dde4);

				opacity: 0;
				transform: translateX(12px);
				pointer-events: none;

				transition: opacity 0.25s ease, transform 0.25s ease;

				.menu-open & {
					opacity: 1;
					transform: translateX(0);
					pointer-events: auto;
				}
			}

			&__link {
				padding-left: 48px;
			}
		}

		&__button {
			margin-left: auto;
		}
	}

	.hero {
		&__wrapper {
			min-height: 550px;
		}
	}

	.services {
		&__wrapper {
			gap: 48px;
		}

		.item {
			&__icon {
				width: 48px;
				height: 48px;
			}
		}
	}

	.problems {
		&__wrapper {
			gap: 24px;
			align-items: start;
		}

		&__img {
			height: auto;
			min-height: auto;
			width: 100%;
			aspect-ratio: 1/1;
		}
	}

	.advantages {
		&__wrapper {
			padding: 16px;
		}

		.item {
			min-height: auto;
			padding: 16px;

			&__icon {
				width: 40px;
				height: 40px;
			}

			&__title {
				font-size: 18px;
				line-height: normal;
			}

			&__foo {
				gap: 12px;
			}
		}
	}

	.expertise {
		&__wrapper {
			padding: 32px 24px;
		}

		.item {
			padding-left: 0;
			&__icon {
				width: 40px;
				height: 40px;

				&::before {
					width: 20px;
					height: 20px;
				}
			}
		}

		&__foo {
			align-items: start;
			gap: 48px;
		}

		&__img {
			height: auto;
			aspect-ratio: 1/1;
		}
	}

	.testimonials {
		&__content {
			gap: 48px;
		}
	}

	.faq {
		&__wrapper {
			gap: 48px;
		}
	}

	.contact {
		&__calendar {
			width: 100%;
			aspect-ratio: auto;
			height: auto;
		}
	}
}
